.overall-2{
    padding: 10px;
    margin-bottom: 16px;
}

.featured-2{
    text-align: center;
}

.featured-2 p{
    text-align: center;
    color: #98A2B3;
    font-size: 14px;
}

/* convert dreamware */
.software{
flex-direction: column;
text-align: center;
align-items: center;
margin: 0 auto;
}
/* 105deg, #F736C7, #C539C4), linear-gradient( #903ABB, #5938AD, #003399 */
.software h2{
    text-align: center;
    font-size: 35px;
    background-image: linear-gradient(#F736C7, #C539C4, #903ABB, #5938AD, #003399);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.software p{
    text-align: center;
    font-size: 16px;
    color: #98A2B3;
}

@media screen and (min-width: 800px){
    .slider{
        width: 600px; /* Adjust the width as needed */
        height: 400px; /* Adjust the height as needed */
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        background-color: white;
        
    }

    .slide {
        padding: 10px;
        width: 105%;
        height: 150%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
      
      
      .slide.active {
        opacity: 1;
      }

    
    .slide img{
        width: 70%;
        height: 70%;
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        padding: 20px;
    }
    
    .slide .img-4{
        height: 90% !important;
        width: 70% !important;
    }
    
    .arrow-1{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
        gap: 15px;
        padding: 20px;
    }
    
    .arrow {
      width: 40px; 
      height: 40px; 
      background-color: gray; 
      bottom: 20px; 
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
      font-size: 30px;
      text-align: center;
    }
}



@media screen and (max-width: 768px){
    .slider {
        display: flex;
        width: 250px; /* Adjust the width as needed */
        height: 250px; /* Adjust the height as needed */
        position: relative;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 0 auto;
      }
      
      .slide {
        padding: 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
      
      
      .slide.active {
        opacity: 1;
      }

      .slide img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: auto;
      
    }
    .hide-logo{
        display: none;
    }
    
    .arrow-1{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
        gap: 15px;
    }
    
    .arrow {
      width: 40px; 
      height: 40px; 
      background-color: gray; 
      bottom: 20px; 
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
      font-size: 30px;
      text-align: center;
    }
    
    .arrow:hover {
      opacity: 1;
    }
    
    .left-arrow {
      left: 30px; 
    }
    
    .right-arrow {
      right: 30px; 
    }
}

/* Our Story */
.mission-1{
    padding: 30px;
}

.mission-1 h2{
    text-align: center;
}

.mission-1 p{
    color: var(--primary-grey-50, #98A2B3);;
}

.mission-2-0 {
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 800px){
    .mission-2-0{
        margin: 0 150px 0 150px;
    }
}
/* Our Vision and Our Mission */
.our-vision-mission{
    padding: 10px;

}

.our-vision-mission .mission{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 16px;
}

.our-vision-mission h3{
    margin-bottom: 6px;
}

.our-vision-mission .mission p{
    color: var(--primary-grey-50, #98A2B3);
    font-size: 14px;
    text-align: left;
}
.mission{
    margin-bottom: 70px;
    border-radius: 20px;
    padding: 14px;
    background: #FFF;
    box-shadow: 0px 24px 44px 0px rgba(20, 20, 43, 0.04);
}
.mission button{
    padding: 7px;
    border: none;
    border-radius: 15px;
}

@media screen and (min-width: 800px){
    .our-vision-mission{
       display: flex;
       flex-direction: row;
        padding: 10px;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        gap: 150px;
    }
}

/* masterminds */

.masterminds h3, .masterminds p{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.masterminds p{
    color: #98A2B3;
    font-size: 14px;
}

.the-mastermind{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

.the-mastermind img{
    height: 90%;
    width: 100%;
}

.mastermind-0{
    position: relative;
    display: inline-block;
}

.mastermind-0 .overlay-text{
    position: absolute;
    top: 50%;
    margin-top: 40px;
}


.overlay-text h3{
    margin: 20px !important;
    text-align: left;
    font-size: 15px;
}

.name-0{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 195px;
    margin-left: 20px;
}





@media screen and (min-width: 800px){
    .the-mastermind{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        margin-top: 10px;
    }
    .the-mastermind img{
        display: flex;
        margin: 0 auto;
        height: 90%;
        width: 70%;
    }
    .overlay-text h3{
        margin-left: 85px !important;
    }
    .name-0{
        margin-left: 85px;
    }
}
